:root {
  --color-accent: oklch(27.67% 03.88% 245.25);
}

html {
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

h1, h2, h3, h4, h5 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 2em;
}

body img {
  max-width: 300px;
}

nav {
  --border-color: oklch(50% 10% 200/40);
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

nav a {
  flex: 1; 
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid var(--border-color);
  padding-bottom: 0.1em;
}

nav a:hover{
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);

}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label{
  display: subgrid;
  grid-template-columns: subgrid;
}

button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
  align-items: start;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  /* grid-template-rows: max-content max-content 1fr max-content; */
  grid-row: span 3;
  padding: .75rem;
  border-radius: .75em;
  background-color:  oklch(96.416% 0.00011 271.152);
  /* gap: .75rem; */
}

.projects article h2 {
  /* min-height: 1em; */
  margin: 0;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.projects div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* border: 1px solid rgb(255, 140, 0); */
}

.projects article .content {
  grid-row: 3;
  margin-bottom: 2rem;
}

.projects article img {
  width: 100%;
  height: auto;
  display: block;
}

.projects article .year {
  grid-row: 4;         /* dedicated bottom row */
  align-self: end;
  margin: 0;
  /* border: 1px solid rgb(47, 0, 255); */
  font-size: 14px;
}

.searchBar {
  --box-height: 48px;
  --border-radius: calc(var(--box-height) / 2);
  border: 2px solid  oklch(65.335% 0.00007 271.152);
  height: var(--box-height);
  border-radius: var(--border-radius);
  margin-bottom: 2em;
  padding: .5em;
  max-width: 10rem;
}

path {
  transition: 300ms;
  cursor: pointer;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 40%;
  }
}

.selected {
  --color: oklch(62.793% 0.25768 29.223) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  border: 1px solid oklab(91.747% -0.00191 0.00632);
  border-radius: .4rem;
  padding: 1em;
  flex: 1;
  gap: .3rem;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: .2rem;
}

 .swatch{
  display: inline-block;
  width: 1em;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
}

.contact-info {
  display: flex;
  gap: 1em;
  align-items: center;
}

contact h1, experience h2, education h2, skills h2 {
  margin-bottom: 0.2em;
  color: #002FA7;
}

.contact-info a {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

.contact-info p {
  margin: 0;
}

experience span, education span {
  display: flex;
  justify-content: space-between;
  overflow: wrap;
  margin-block: 0.1em;
}

experience span i, education span i{
  align-items: end;
}

experience span p, education span p  {
  margin: 0;
  padding: 0;
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

.dropdown#profile-stats#profile-stats {
  width: 80%;
  margin: 0 auto;
}
.dropdown#profile-stats#profile-stats dl{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.dropdown#profile-stats#profile-stats dt{
  grid-row: 1;
}

.dropdown#profile-stats#profile-stats dd{
  grid-row: 2;
}